<h1>Awesome Places</h1>
<% @offers.each do |offer| %>
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
    <div class="card-product-infos">
      <h2><%= offer.title %></h2>
      <p><%= offer.description %></p>
    </div>
  </div>
<% end %>
